/* #cd9042 #131921 */
.header{
    height: 60px;
    display: flex;
    background-color: #131921;
    position: sticky;
    margin: 0;
    z-index: 100;
    top: 0px;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 15px;
    margin-top: 20px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 25px;
}

.header__searchInput{
    height: 14px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__searchIcon{
    background: #cd9042;
    padding: 5px;
    height: 25px;
}

.header__nav{
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.header__optionLineOne{
    font-size: 13px;
}

.header__optionLineTwo{
    font-size: 16px;
    font-weight: 700;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 15px;
}

.header__optionBaseket{
    display: flex;
    align-items: center;
    color: white;
}

.header__basketCount{
    margin-left: 10px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}