/* #cd9042 #131921 */
.header{
    height: 60px;
    display: flex;
    background-color: #131921;
    position: sticky;
    margin: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 15px;
    margin-top: 20px;
}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 25px;
}

.header__searchIcon{
    background: #cd9042;
    padding: 5px;
    height: 25px;
}
