.product{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    background: white;
    z-index: 1;
    width: 100%;
    min-width: 100px;
    max-height: 400px;
}

.product > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 10px;
}

.product > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    cursor: pointer;
}

.product__info{
    height: 100px;
    margin-bottom: 30px;
}

.product__rating{
    display: flex;
}